rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {

        function isAuthenticated()             { return request.auth != null; }
        function getAuthenticatedUserId()      { return request.auth.uid; }
        function getUserDoc()                  { return get(   /databases/$(database)/documents/users/$(getAuthenticatedUserId())); }
        function userExists()                  { return exists(/databases/$(database)/documents/users/$(getAuthenticatedUserId())); }
        function isOwnUserDoc(userId)          { return isAuthenticated() && getAuthenticatedUserId() == userId; }

        function isMemberOfOrganization(organizationId) {
            return isAuthenticated()
            && userExists()
            && getUserDoc().data.organizations[organizationId] != null;
        }

        // -------------------------------------------------------------------------------------------------------------
        // Rules
        // -------------------------------------------------------------------------------------------------------------

        match /organizations/{organizationId}                                               { allow read: if isMemberOfOrganization(organizationId); }
        match /organizations/{organizationId}/projects/{projectId}                          { allow read: if isMemberOfOrganization(organizationId); }
        match /organizations/{organizationId}/projects/{projectId}/blockfaces/{blockfaceId} { allow read: if isMemberOfOrganization(organizationId); }
        match /users/{userId}                                                               { allow read: if isOwnUserDoc(userId); }

        // Default: Deny all other collections
        match /{document=**} { allow read, write: if false; }
    }
}
